@model IEnumerable<PetShop.Data.Model.Animal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pet shop!</h1>
    <br />
    <h3>The THREE most popular animals with the most Comments: </h3>
</div>

