body {
}

#textArea {
    width: 50%;
}

img {
    height: 150px;
    width: auto;
    align-content: center
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-lg-4 {
    justify-content: center;
}

button {
    display: inline-block;
}
