body {

}
#textArea {
    width: 30%;
}
img {
    height: 150px;
    width: auto;
    align-content:center
}
.comment {
    margin-left: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.col-lg-4 {
    justify-content: center;
    
}
button {
    display: inline-block;
    
}
