body {
}

#textArea {
   width: 50%;
   float:left;
   bottom:auto;
}

img {
    height: 200px;
    width: auto;
    border-radius: 5px;
    display: block;
    max-width: 100%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.details {
    float: right;
    width: 30rem;
}
.imgName {
    width: 18rem;
    float: left;
    height:15rem;
}
.description{
    font-size:16px;
}
button {
    background: #DAD299;
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);
    background: linear-gradient(to right, #B0DAB9, #DAD299);
}
.form-control {
    width:50%;
}
.add {
    height: 15rem
}

.delete{
    height:15rem
}
.sizeof{
    width:20%;
}
figure svg {
    width: 400px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure:hover svg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ctard-ext {
    font-weight: bold;
}
svg {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}