html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F5F5DC;
}

.container {
    width: 100%
}

.vertical-menu {
    width: 200px;
    height: 100px;
}

.vertical-menu a {
    color: black;
    padding: 10px;
}

.vertical-menu a:hover {
    background-color: #D2B48C;
}

.logo {
    height: 70px;
    width: 70px;
}
li {
    margin: 20px;
}
img{
    width:150px;
    height:auto;
}