html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
    html {
        font-size: 16px;        
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F5F5DC;
}
.vertical-menu {
    width: 200px;
    height: 150px;
}
.vertical-menu a {

  color: black; 
  padding: 10px;
  
}
.vertical-menu a:hover {
  background-color: #D2B48C;
}
ul {
    list-style-type: none;
}
li{
    padding:10px
}
.logo{
    height:70px;
    width:70px;
}